<body>
    <div class="main-container">
        <div class="image-details">

            <img [src]="image?.url" alt="Selected Image" class="main-image">



            <div class="image-info">
                <h2>{{image?.filename}}</h2>
                <div class="metadata">
                    <div class="author">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT86S_ZlKylXOd3eTqAW5KXxkngeiP-uUxtNA&s" alt="Autor">
                        <span><b>{{image?.user_name}}</b></span>
                    </div>
                    <div class="likes">
                        <span><b>{{image?.likes}} likes</b></span>
                    </div>
                </div>
                <div class="additional-info">
                    <p><b>File Type:</b></p>
                    <p><b>Date:</b> {{image?.uploadedAt}}</p>
                    <p><b>Time:</b></p>
                    <p><b>Location:</b></p>
                    <p><b>Size:</b></p>
                    <p><b>Dimensions:</b></p>
                    <p><b>Depth:</b></p>
                    <p><b>Filters:</b></p>

                </div>
                <button class="download-btn">Download</button>
            </div>
        </div>
    </div>
</body>
