<div class="container">
  <img class="profile-image" src="perfil.png" alt="Profile">

  <span class="name"><p><b>{{name}}</b></p></span>

  <span class="info"><div class="logo"></div>{{username}}</span>
  <br>
  <span class="info">{{publicImages}} public images<div class="point"></div>{{privateImages}} private images</span>
  <br>

  <div class="button-section">
    <button (click)="onUploadImage()" class="primary-button">Upload Image</button>
    <button class="secondary-button" (click)="logout()">Log Out</button>
  </div>

</div>
