
<div class="slider">
  <div class="slider-track">
    <div class="slide" *ngFor="let image of images2">
      <img [src]="image" alt="Image"/>
    </div>
    <div class="slide" *ngFor="let image of images2">
      <img [src]="image" alt="Image"/>
    </div>
  </div>
</div>

<div class="slider reverse">
  <div class="slider-track">
    <div class="slide" *ngFor="let image of images">
      <img [src]="image" alt="Image"/>
    </div>
    <div class="slide" *ngFor="let image of images">
      <img [src]="image" alt="Image"/>
    </div>
  </div>
</div>

<div class="slider">
  <div class="slider-track">
    <div class="slide" *ngFor="let image of images3">
      <img [src]="image" alt="Image"/>
    </div>
    <div class="slide" *ngFor="let image of images3">
      <img [src]="image" alt="Image"/>
    </div>
  </div>
</div>
