img {
  width: auto;
  height: 200px; 
  object-fit:scale-down; 
  margin-right: 10px;
  border-radius: 5px;
} 

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slider-track {
  display: flex;
  animation: scroll 12s linear infinite;
  -webkit-animation: scroll 12s linear infinite;
  width: calc(270px * 12);
}

.slider .slide {
  width: 100%;
  
}

.slider .slide img {
  width: 100%;
}

.slider .slider-track {
  display: flex;
  animation: scroll 12s linear infinite;
  width: calc(270px * 12);
}

.slider.reverse .slider-track {
  display: flex;
  animation: scroll-right 16s linear infinite;
  width: calc(270px * 12);
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 6));
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(calc(-300px * 6));
  }
  100% {
    transform: translateX(0);
  }
}

