<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close" />

<body>
    <div class="container">
        <h1>Information Collection Notice</h1>
        <ul>
            <li class="subtitle"><b>1. Information Collected</b></li>
            We collect personal and technical information when you register, access the Platform, and use our features. The types of data we collect include:
            <ul>
                <li>
                    <b>Personal Information:</b> Includes registration details such as name, email address, username, and password.  
                </li>
                <li>
                    <b>Content:</b> When you upload and publish images on the Platform, we store those images, including any associated metadata.
                </li>
                <li>
                    <b>Usage Data:</b> We record information on how frequently Platform features are used, including the filters applied, processing times, and editing configurations.
                </li>
            </ul>

            <li class="subtitle"><b>2. Purposes of Data Collection</b></li>
            The collected information is used to:
            <ul>
                <li>
                    Provide, maintain, and improve the Platform. 
                </li>
                <li>
                    Enable users to share and publish images.
                </li>
                <li>
                    Enhance the user experience with personalization and recommendations.
                </li>
                <li>
                    Protect user and system security and integrity.
                </li>
                <li>
                    Comply with legal regulations and audits as necessary.
                </li>
            </ul>

            <li class="subtitle"><b>3. Data Transfer</b></li>
            Your data will not be shared outside of PixelArt, except with service providers or when required by law.

            <li class="subtitle"><b>4. User Rights</b></li>
            You have the right to:
            <ul>
                <li>
                    Access and correct your personal information.
                </li>
                <li>
                    Request deletion of your information.
                </li>
                <li>
                    Limit the use of your information for specific purposes.
                </li>
            </ul>

            <li class="subtitle"><b>5. Procedure for Exercising Rights</b></li>
            To exercise these rights, please contact us at <a href="#">pixelart&#64;support.com</a>.
        </ul>
    </div>
</body>
