.subtitle {
    padding-top: 20px;
    list-style-type: none;
 }
 
 li {
     list-style-type: disc;
 }
 
 body {
     display: flex;
     justify-content: center;
 }
 
 .container {
     width: 90vw;
     text-align: justify;
 }