<div class="top-bar">
  <div *ngIf="appearance === 1" class="logo">
    <img src="Logo 1.png" [routerLink]="['/']" alt="Logo">
  </div>

  <div *ngIf="appearance === 2 || appearance === 3" class="logo">
    <img src="Logo 1.png" alt="Logo">
  </div>

  <div class="search" style="width: 800px;">
    <!-- <form>
      <input type="text" placeholder="Search..." />
    </form> -->
  </div>

  <!-- Appearance 1 -->
  <div *ngIf="appearance === 1" class="buttons">
    <button class="primary-button" [routerLink]="['/login']">Log In</button>
    <button class="secondary-button" [routerLink]="['/signup']">Sign Up</button>
  </div>

  <!-- Appearance 2 -->
  <div *ngIf="appearance === 2" class="menu-items">
    <button class="secondary-button" [routerLink]="['/gallery']">Gallery</button>
    <button class="profile-button" [routerLink]="['/profile']">
      <img src="perfil.png" class="profile-image" alt="Profile">
    </button>
  </div>

  <!-- Appearance 3 -->
  <div *ngIf="appearance === 3" class="menu-items">
    <button class="secondary-button" [routerLink]="['/gallery']">Gallery</button>
    <button class="secondary-button" [routerLink]="['/administration']">Administration</button>
    <button class="profile-button" [routerLink]="['/profile']">
      <img src="perfil.png" class="profile-image" alt="Profile">
    </button>
  </div>
</div>
