<div class="edit-card">
  <p-card>
    <ng-template pTemplate="header">
      <div class="card-header">
        <h3>Actions</h3>
          <p-menubar [model]="items"
          [style]="{'min-width':'300px'}"
          />

      </div>
    </ng-template>


    <div class="image-preview">
      <img [src]="selectedImage?.url" [alt]="selectedImage?.url" class="edited-image">
    </div>

    <ng-template pTemplate="footer">
      <div class="card-footer">
<!--        <button pButton label="Save image" (click)="saveImage()" class="primary-button"></button>-->
<!--        <button pButton label="Save & Publish" (click)="saveAndPublish()" class="primary-button"></button>-->
        <button pButton label="Return" [routerLink]="['/profile']" (click)="cancelEdit()" class="primary-button"></button>
      </div>
    </ng-template>
  </p-card>
</div>
